extends layout

block siteinfo
    if author
        meta(name='author' content=author)
    if keywords
        meta(name='keywords' content=keywords)
    title= blog.title

block style
    link(href='assets/index.css' rel='stylesheet')

block header
    #header
        h1#title
            a(href='./index.html')= blog.title
        a(href=blog.github_url target='_blank')
            .iconfont.icon-github
        a(href=blog.feed_url target='_blank')
            .iconfont.icon-rss

block main
    div#posts
        for post in postList
            div.post
                span.date= post.date.getUTCFullYear()+'/'+(post.date.getUTCMonth()+1)+'/'+post.date.getUTCDate()
                span.title
                    a(href='post/'+post.key+'.html')= post.title

//block footer
//    #footer
//        p#copyright= 'Copyright '+blog.title