extends layout

block siteinfo
    if blog.author
        meta(name='author' content=blog.author)
    if blog.keywords
        meta(name='keywords' content=blog.keywords)
    title= blog.title+'|'+post.title

block style
    link(href='../assets/index.css' rel='stylesheet')

block header
    #header
        h1#title
            a(href='/')= blog.title
        .links
            a(href=blog.feed_url target='_blank')
                .iconfont.icon-rss
            a(href=blog.github_url target='_blank')
                .iconfont.icon-github
            a(href=blog.about_url target='_blank')
                .iconfont.icon-author

block main
    div#post
        div.main
            h3.date= post.date.getUTCFullYear()+'/'+(post.date.getUTCMonth()+1)+'/'+post.date.getUTCDate()
            div!= post.main
            include comment

append script
    if post.highlight
        include highlight
    if post.mathjax
        include mathjax
    if post.jsbin
        include jsbin